@using Newtonsoft.Json
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}

<pre>@JsonConvert.SerializeObject(Model.Value("toggleMeAround"))</pre>

@Html.Action("AsList", "ToggleMeAroundSurface", new { property = Model.GetProperty("toggleMeAround") })

<p>@ViewData["message"]</p>
